<div class="matriz">
	<table>

		<tr>
			<td class="empty-column"></td>
			<% @matrix.reversed_persons_matrix.each do |person| %>
				<td class="person-name-top"> <%= person.name %> </td>
			<% end %>
		</tr>

		<% visible = "visible" %>
		<% @matrix.persons_for_matrix.each do |person|%>
			<tr>
				
				<td class="person-name-left"> <%= person.name %> </td>
				<% @matrix.reversed_persons_matrix.each do |pair| %>
					<% if person == pair then visible = "hidden" end%>
					<td class ="<%= visible %> <%= @matrix.average(person, pair) %> <%= @matrix.paired_today?(person, pair) %>">

						<%= button_to "-", {action: "remove_pair", controller: "matrix", person: person, pair: pair}, method: :delete %>

						<%= person.days_paired_with(pair) %>
						
						<%= button_to "+", {action: "add_pair", controller: "matrix", person: person, pair: pair}, method: :post %>

					</td>
				<% end %>

				<% visible = "visible" %>
			</tr>
		<% end %>

	</table>
</div>

<% @matrix.persons.each do |person| %>
	<div class="person">
		<h2> <%= person.name %> </h2>
		<span>Coringa - <%= person.joker %></span>

		<div class="pairs">
		
			<% @matrix.persons.each do |who_paired_with_the_pesrson| %>
				<% unless who_paired_with_the_pesrson == person %>
					<div class="name-pair">
						<p> <%= who_paired_with_the_pesrson.name %> </p>
					  <%= button_to "-", {action: "remove_pair", controller: "matrix", person: person, pair: who_paired_with_the_pesrson}, method: :delete %>
					  <p> <%= person.days_paired_with(who_paired_with_the_pesrson) %> </p>
					  <%= button_to "+", {action: "add_pair", controller: "matrix", person: person, pair: who_paired_with_the_pesrson}, method: :post %>
					</div>
				<% end %>
			<% end %>
		
		</div>

	</div>
<% end %>