<!DOCTYPE html>
<html>
<head>
  <title>Matriz De Pares</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>

<ul>
	<li><%= link_to "Ver Matriz", controller: "matrix", action: "index" %></li>
	<li><%= link_to "Editar Matriz", controller: "matrix", action: "edit" %></li>
</ul>

</nav>

<%= yield %>

</body>
</html>
